<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Apellido %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :Nombre_de_Usuario %><br>
    <%= f.text_field :nickName %>
  </div>
  <div class="field">
    <%= f.label :Documento %><br>
    <%= f.text_field :doc %>
  </div>
  <div class="field"> 
    Cargo <br>
    <%= f.collection_select :charge_id, Charge.all, :id, :name, class: "form-control", prompt: 
    "Seleccione Cargo" %> 
  </div>
  <div class="field">
    <%= f.label :Contraseña %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :Correo %><br>
    <%= f.text_field :mail %>
  </div>
  
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
