<h1>Lista de Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Nombre de Usuario</th>
      <th>Documento</th>
      <th>Cargo</th>
      <th>Contraseña</th>
      <th>Mail</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td class="active"><%= employee.name %></td>
        <td class="success"><%= employee.lastName %></td>
        <td class="warning"><%= employee.nickName %></td>
        <td class="danger"><%= employee.doc %></td>
        <td class="info"><%= employee.charge.name rescue nil %></td>
        <td><%= employee.password %></td>
        <td><%= employee.mail %></td>        
        <td><%= link_to 'Ver', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destruir', employee, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_employee_path %>
