<h1>Lista de Empleados</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="danger">
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Cargo</th>
      <th>Mail</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr class="success">
        <td><%= employee.name %></td>
        <td><%= employee.lastName %></td>
        <td><%= employee.doc %></td>
        <td><%= employee.charge.name rescue nil %></td>
        <td><%= employee.mail %></td>        
        <td><%= link_to 'Ver', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destruir', employee, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_employee_path %>
