<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @employee.lastName %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @employee.document %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @employee.charge %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @employee.nickName %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Atras', employees_path %>
