<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ipqr.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @ipqr.mail %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @ipqr.comments %>
</p>

<%= link_to 'Atras', ipqrs_path %>
