<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @reserva.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @reserva.email %>
  </p>

  <p>
    <strong>Fecha ingreso:</strong>
    <%= @reserva.fecha_ingreso %>
  </p>

  <p>
    <strong>Fecha salida:</strong>
    <%= @reserva.fecha_salida %>
  </p>

  <p>
    <strong>Apartamento:</strong>
    <%= @reserva.apartamento %>
  </p>

  <p>
    <strong>Hostal:</strong>
    <%= @reserva.hostal %>
  </p>

  <%= link_to 'Editar', edit_reserva_path(@reserva) %> |
  <%= link_to 'Atras', reservas_path %>
</div>