<p id="notice"><%= notice %></p>



<p>
  <strong>Codigo:</strong>
  <%= @apartament.id %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @apartament.adress %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @apartament.states_id %>
</p>

<p>
  <strong>Habitaciones:</strong>
  <%= @apartament.room %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @apartament.cost %>
</p>

<p>
  <strong>Comodidades:</strong>
  <%= @apartament.amenities %>
</p>

<%= link_to 'Editar', edit_apartament_path(@apartament) %> |
<%= link_to 'Atras', apartaments_path %>
