<div class="jumbotron">
  <h1 class="alert alert-info">Sitios de Interés</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <% if current_user %>
          <th colspan="3">Opciones</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @sitios.each do |sitio| %>
        <tr>
          <td><%= image_tag sitio.image.url(:thumb) %></td>
          <td><%= sitio.nombre %></td>
          <td><%= sitio.direccion %></td>
          <td><%= link_to 'Detalles', sitio, class: "btn btn-default btn-xs" %></td>

          <% if current_user %>            
            <td><%= link_to 'Editar', edit_sitio_path(sitio), class: "btn btn-default btn-xs" %></td>
            <td><%= link_to 'Eliminar', sitio, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-warning btn-xs" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= will_paginate @sitios, renderer: BootstrapPagination::Rails %>
  <br>
  <br>
  <% if current_user %>  
    <%= link_to 'Agregar', new_sitio_path, class: "btn btn-primary btn-xs" %>
  <% end %>  
</div>
