<div class="jumbotron">
<h1 class="alert alert-info"><%= @sitio.nombre %></h1>
	<p id="notice"><%= notice %></p>

	<%= image_tag @sitio.image.url(:medium) %>

	<br>

	<p>
	  <strong>Descripcion:</strong>
	  <%= @sitio.descripcion %>
	</p>

	<p>
	  <strong>Direccion:</strong>
	  <%= @sitio.direccion %>
	</p>

	<% if current_user %> 
		<%= link_to 'Editar', edit_sitio_path(@sitio), class: "btn btn-default btn-xs" %> 
	<% end %> 
	<%= link_to 'Atras', sitios_path, class: "btn btn-default btn-xs" %>
</div>