<h1>Tipos de Documentos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sigla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctypes.each do |doctype| %>
      <tr>
        <td><%= doctype.name %></td>
        <td><%= doctype.abbrev %></td>
        <td><%= link_to 'Ver', doctype %></td>
        <td><%= link_to 'Editar', edit_doctype_path(doctype) %></td>
        <td><%= link_to 'Eliminar', doctype, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_doctype_path %>
