<h1 class="alert alert-info">Estado</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @doctype.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @doctype.abbrev %>
</p>
<% if current_user.admin == true %>
	<%= link_to 'Editar', edit_doctype_path(@doctype), class: "btn btn-default btn-xs" %> 
<% end %>
<%= link_to 'Atras', doctypes_path, class: "btn btn-default btn-xs" %>
