<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :doc %><br>
    <%= f.text_field :doc %>
  </div>
  <div class="field">
    <%= f.label :Mail %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Contraseña %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :Confirmar_Contraseña %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <% if current_user.admin == true %>
    <div class="field">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user %>
    <%= f.check_box :user %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success btn-xs"%>
  </div>
<% end %>
