<h1 class="alert alert-info">Información</h1>
<p id="notice"><%= notice %></p>
<p>
	<strong>Nombre:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Apellido:</strong>
	<%= @user.lastname %>
</p>

<p>
	<strong>Documento:</strong>
	<%= @user.doc %>
</p>
<p>
  <strong>Mail:</strong>
  <%= @user.email %>
</p>
<% if current_user.admin == true %>
	<%= link_to 'Editar', edit_user_path(@user), class: "btn btn-default btn-xs" %> 
<% end %> 
<%= link_to 'Atras', users_path, class: "btn btn-default btn-xs" %>
