<%= simple_form_for [@apartment,@reservation], :html => { :class => 'form­horizontal' } do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Tipo de Documento <br>
    <%= f.collection_select :doctype_id, 
    Doctype.all, 
    :id, 
    :name, 
    class: "form-control", prompt: "Seleccione Tipo de Documento" %>
  </div>
  <div class="field">
    <%= f.label :Numero_de_Documento %><br>
    <%= f.text_field :doc %>
  </div>
  <div class="field">
    <%= f.label :Correo %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Ingreso %><br>
    <%= f.text_field :reservaciondatein, class: 'datepicker' %>
    <script type="text/javascript">
      $('.datepicker').datepicker({
        language: "es",
        format: "yyyy/mm/dd",
        autoclose: true,
        todayHighlight: true,
      });
    </script>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Salida %><br>
    <%= f.text_field :reservationdateout, class: 'datepicker' %>
    <script type="text/javascript">
      $('.datepicker').datepicker({
        language: "es",
        format: "yyyy/mm/dd",
        autoclose: true,
        todayHighlight: true,
      });
    </script>
  </div>
  <% if current_user %>
    <div class="field">
      Estado <br>
      <%= f.collection_select :state_id, State.all, :id, :name, class: "form-control", prompt: "Seleccione Estado" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success btn-xs" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), apartment_reservations_path(@apartment), class: "btn btn-danger btn-xs" %> 
  </div>
<% end %>
