<p id="notice"><%= notice %></p>

  <%= image_tag @inicio.image.url(:medium) %>

  

<p>
  <strong>Direccion:</strong>
  <%= @inicio.direccion %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @inicio.barrio %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @inicio.habitacion %>
</p>

<p>
  <strong>Baño:</strong>
  <%= @inicio.baño %>
</p>

<p>
  <strong>Cocina:</strong>
  <%= @inicio.cocina %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @inicio.sala %>
</p>

<p>
  <strong>Comedor:</strong>
  <%= @inicio.comedor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @inicio.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @inicio.precio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @inicio.Estado %>
</p>

<p>
  <strong>Amoblado:</strong>
  <%= @inicio.amoblado %>
</p>

<%= link_to 'Edit', edit_inicio_path(@inicio) %> |
<%= link_to 'Back', inicios_path %>
