<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div class = "well well-sm">
    <%= search_form_for @search , name: 'search', method: 'get', class: "form-inline", role: "form" do |f| %>
        <div class="field">
          <label>*Costo($)</label>
          <div class="form-group">
            <%= f.text_field :cost_cont %>
          </div>
          <label>*Habitaciones(#)</label>
          <div class="form-group">
            <%= f.text_field :room_cont %>
          </div>
        </div>
        <div class="actions"><%= f.submit "Search" %></div>
      <% end %>       
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Reserva</th>
      <th>Direccion</th>
      <th>Estado</th>
      <th>Hablitaciones</th>
      <th>Costo</th>
      <th>Comodidades</th>
      <th>Galeria</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><span class="label label-default"><%= link_to "Reservar", apartment_reservations_path(apartment) %></span></td>
        <td><%= apartment.address %></td>
        <td><%= apartment.state.name rescue nil%></td>
        <td><%= apartment.room %></td>
        <td><%= apartment.cost %></td>
        <td><%= apartment.amenities %></td>
        <td><%= image_tag apartment.image.url(:thumb) %></td>
        <td><%= link_to 'Ver', apartment, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Editar', edit_apartment_path(apartment), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Eliminar', apartment, method: :delete, data: { confirm: 'Esta Seguro?' }, class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar', new_apartment_path, class: "btn btn-primary btn-xs" %>
