<h1 class="alert alert-info">Apartamento</h1>
<p id="notice"><%= notice %></p>

<% if current_user %>
  <p>
    <strong>Estado:</strong>
    <%= @apartment.state.name %>
  </p>
<% end %>

<p>
  <strong>Direccion:</strong>
  <%= @apartment.address %>
</p>

<p>
  <strong>Habitaciones:</strong>
  <%= @apartment.room %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @apartment.cost %>
</p>

<p>
  <strong>Comodidades:</strong>
  <%= @apartment.amenities %>
</p>

<p>
  <%= image_tag @apartment.image.url(:medium) %>
</p>
<%= link_to 'Atras', static_pages_home_path, class: "btn btn-warning btn-xs"  %> <span></span>
<%= link_to "Reservar", new_apartment_reservation_path(@apartment), :class => "btn btn-primary btn-xs" %><br>
<br><br>
<% if current_user %>
  <%= link_to 'Editar', edit_apartment_path(@apartment), class: "btn btn-default btn-xs" %> 
  <%= link_to 'Atras', apartments_path, class: "btn btn-default btn-xs" %>
<% end %>  
