<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @apartment.code %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @apartment.state.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @apartment.address %>
</p>

<p>
  <strong>Habitaciones:</strong>
  <%= @apartment.room %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @apartment.cost %>
</p>

<p>
  <strong>Comodidades:</strong>
  <%= @apartment.amenities %>
</p>

<p>
  <%= image_tag @apartment.image.url(:medium) %>
</p>
<%= link_to "Reservar", new_apartment_reservation_path(@apartment), :class => "btn btn-info btn-xs" %><br><br>
<%= link_to 'Atras', static_pages_home_path  %><br>

<%= link_to 'Editar', edit_apartment_path(@apartment) %> |
<%= link_to 'Atras', apartments_path %>
