<footer class="footer">
  <small>
    By <%= link_to "https://twitter.com/nanataborda1" do %>Diana Taborda,<% end %> Paola Montes Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
    <ul>
      <li><%= link_to "https://es-la.facebook.com/pages/NS-Apartamentos/540144742664804" do %><%= image_tag "facebook_logo.jpg",class: 'logo'%>Facebook<% end %></li>
        <li><%= link_to "https://twitter.com/nsapartamentos" do %><%= image_tag "twitter_logo.jpg",class: 'logo'%>Twitter<% end %></li>
        <li><%= link_to "Intranet", :login %> </li>
    </ul>
  </nav>
</footer>