<%# add navigation links to this file %>
<li><%= image_tag "logo.png", class: 'logotipo'%></li>
<li><%= link_to "Inicio", static_pages_home_path, class: 'navbar-brand' %></li>
<li><%= link_to "Sitios de Interes", sitios_path %></li>
<li><%= link_to "Acerca de Nosotros", static_pages_about_path%></li>
<li><%= link_to "Contacto", new_ipqr_path %></li>
<li><%= link_to "Apartamentos", apartments_path %></li>
<li><%= link_to "Empleados", employees_path %></li>
<li><%= link_to "Reservaciones", reservations_path %></li>
<li><%= link_to "Comentarios", ipqrs_path %></li>